<!doctype html>
<html lang="en" ng-app='UsersApp'>
<head>
	<meta charset="UTF-8">

	<title>P2P Messenger dashboard</title>

</head>

<body>
	<h2 id='welcome'>Welcome</h2>
	<div id='online-users' ng-controller='UsersController'>
		Search : <input type='text' ng-model='searchText' /> </br>
		<h3>Online users</h3></br>
		<table>
			<tr ng-repeat='user in users | filter:searchText'>
				<td id='names'><button ng-click="banUser($index)">Ban</button><button ng-click="talkWith($index)">Talk</button> {{user.name}}</td>
			</tr>
		</table>
		<button ng-click="reloadUsers()">Reload user list</button>
	</div>

</body>

<footer>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.min.js"></script>
	<script src="http://localhost:8081/socket.io/socket.io.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script type="text/javascript">
		var stateObject = {};
		var title = "P2P Messenger dashboard";
		var newUrl = "/dashboard";
		history.pushState(stateObject,title,newUrl);

		var username;
		var peer;
		var socket;

		var app = angular.module("UsersApp",[]);

		// Get the online users
		app.controller('UsersController',function($scope){
			$scope.banned = [];
			$(document).ready(function(){
				socket = io.connect('http://localhost:8081');
				$.ajax({
					url: '/api/get_username',
					success:function(data){
						username = data;
						$("#welcome").text("Welcome "+username);
						peer = new Peer(username, {host: 'localhost', port: 9000, debug : 1});
						peer.on('open', function(peer_id) {
							console.log('My peer ID is: ' + peer_id);
						});
						socket.emit('newUser', {name : username});
						peer.on('connection', function(conn) { 
							var dest = conn.peer.split('_')[1];

							conn.on('open',function(){
								console.log("Connected with "+conn.peer);
								if(jQuery.inArray(dest,$scope.banned)!=-1) {
									console.log("banned");
									conn.send("banned");
									//conn.close();
								} else {
									console.log("not banned");
									conn.send("not banned");

									conn.on('data', function(data) {									
										console.log("Received : "+data);
										if(data === 'tab') {
											window.open('/sconv/'+username+'/'+dest+'/1', '_blank');
										}
									})
								}

								
							
							});
									
						})					
					}
				})
				
				$.getJSON('/api/get_users', function(data) {
				   	$scope.$apply(function () {
			            $scope.users = data;
			            console.log("Loaded scope")
			        });
				});
			})

			
			
			$scope.banUser = function(index){
				$scope.banned.push($scope.users[index].name);
				$scope.users.splice(index, 1);
				
			};
			$scope.reloadUsers = function() {
				console.log("Reloading users");
				$.getJSON('/api/get_users', function(data) {
				   	$scope.$apply(function () {
				   		$scope.users=[];
			            for(i=0;i<data.length;i++){
			            	console.log(jQuery.inArray(data[i].name, $scope.banned));
			            	if(jQuery.inArray(data[i].name, $scope.banned) ==-1) {
			            		$scope.users.push(data[i]);
			            	}
			            }

			            console.log("Updated scope")
			        });
				});
			}

			$scope.talkWith = function(index) {
				window.open('/sconv/'+username+'/'+$scope.users[index].name, '_blank');
			}
		})

		window.onbeforeunload = function(e) {
     		socket.emit('removeUser', {name : username});
    	}
		
	</script>

</footer>

