<!doctype html>
<html lang="en" ng-app='MessagesApp'>
<head>
	<meta charset="UTF-8">
	<title>Discussion</title>
</head>
<body>
	<div ng-controller='MessagesController'>
		<input type='text' ng-model='text'/><button ng-click='sendMessage()'>Send</button>
		<div ng-repeat='message in messages'>
				<p class='msg'><strong>{{message.sender}}</strong> {{message.text}}</p>
		</div>
	</div>
		
	<div id="dropbox" style="background: #ccc; font-size: 18px;bottom:100px; left:10%;height: 60px;width: 35%;float: left;text-align:center;position:fixed">
		Drag file here to send it.
	</div>
	<div id="dropbox_img" style="background: #ccc; font-size: 18px;bottom:100px;right:10%;height: 60px;width: 35%;float: right;text-align:center;position:fixed">
		Drag image here to send it.
	</div>
	
</body>

<footer>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.min.js"></script>
	<script src="http://localhost:8081/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
	<script type="text/javascript">
		var peer;
		// Définition pour Angular
		var app = angular.module('MessagesApp',[]);
		// Controller
		app.controller('MessagesController',function($scope){
			$scope.messages = [];
			var conn_retriever;

			// Permet de récupérer la connexion utile pour envoyer des messages
			function getConn() {
				return conn_retriever;
			}

			$(document).ready(function() {
				// Vérification de si l'on lance la conversation ou on a été invité à la lancer
				var path = window.location.pathname;
				var str = path.split("/");
				var sync = str[4] || 0;
		    	$.ajax({
					url: '/api/get_conv',
					success:function(data){
							// Définition de l'utilisateur et du destinataire
							var username = data.username;
							var dest = data.dest;
							document.title ="Conversation with "+dest;
							// Mise à jour de l'URL et du titre de la fenêtre
							var stateObject = {};
							var title = "Conversation with "+dest;
							var newUrl = "/conv/"+dest;
							history.pushState(stateObject,title,newUrl);
							// Indique si l'on cherche à se synchroniser ou non
							console.log("Status : "+sync);
							if(sync==0) {
								console.log("Syncing");
								peerInit(username,dest);
							} else {
								console.log("Duplex");
								peerDuplex(username, dest)
							}
							
						}
					})


		    		// Envoi de fichiers
					var dropbox;

					dropbox = $("#dropbox");
					dropbox.on("dragenter", nothing);
					dropbox.on("dragover", nothing);
					dropbox.on("drop", dropfile);

					var dropbox_img;

					dropbox_img = $("#dropbox_img");
					dropbox_img.on("dragenter", nothing);
					dropbox_img.on("dragover", nothing);
					dropbox_img.on("drop", dropimg);		

					function nothing(e) {
					  e.stopPropagation();
					  e.preventDefault();
					}

					function dropfile(e) {
					  e.stopPropagation();
					  e.preventDefault();

					  var file = e.originalEvent.dataTransfer.files[0];

					  sendFile(file);
					}	

					function dropimg(e) {
					  e.stopPropagation();
					  e.preventDefault();

					  var allowedFiles = ['image/jpg','image/gif','image/png'];

					  var file = e.originalEvent.dataTransfer.files[0];
					  var mimeType= file.type;
					  
					  if($.inArray(mimeType,allowedFiles)!=-1) {
					  	sendImg(file);
					  } else {
					  	alert('File type not supported');
					  }

					  
					}    			
	    	})

	    	// Envoi de messages via la connexion active
	    	$scope.sendMessage = function() {
	    		var conn = getConn();
				var msg_text = $scope.text;
				$scope.text = '';
				conn.send({type : 'msg', msg : msg_text});
				$scope.messages.push({sender: 'Me', text : msg_text})
			}

			// Envoi de fichier
			sendFile = function(file) {
				conn = getConn();
				conn.send({type : 'file', msg : file});
				$scope.$apply(function(){
					$scope.messages.push({sender : 'Me', text : 'Sent file'});
				})
			}

			// Envoi d'image'
			sendImg = function(file) {
				conn = getConn();
				conn.send({type : 'img', msg : file});
				$scope.$apply(function(){
					$scope.messages.push({sender : 'Me', text : 'Sent image'});
				})
			}

			// Lance la conversation lorsque que l'on est l'initiateur
			function peerInit(username, dest){
				console.log("Peer init");
				// Connexion de conv_usr_dest vers dest
				var conv_usr = "conv_"+username+"_"+dest;
				peer = new Peer(conv_usr, {host: 'localhost', port: 9000, debug : 1});
				console.log("Connected as "+conv_usr);
				console.log("connecting with user "+dest);
				conn = peer.connect(dest);
				// Envoi du message d'ouverture 
				conn.on('open', function() {
					conn.on('data', function(data) {	
						// Vérification du statut
						if(data === 'banned') {
							alert(dest+' banned you');
							window.close();
						} else {						
							conn.send('tab');
							console.log("Opening tab")
						};
					});
					
				})

				// Après connexion du destinataire
				peer.on('connection', function(conn_full) { 
					conn_full.on('open', function() {
						conn_retriever = conn_full;

						conn_full.on('data', function(data) {
							// Gère la réception de messages
							if(data.type === 'info') {
								alert(data.msg);
							} else if(data.type === 'file'){
								// Crée Blob et crée lien à utiliser
								var dataView = new Uint8Array(data.msg);
						        var dataBlob = new Blob([dataView]);
						        var url = window.URL.createObjectURL(dataBlob);
						        $scope.$apply(function(){
									$scope.messages.push({sender : dest, text : 'Received file : '});
								})
								$(".msg").last().append('<a target="_blank" href="' + url + '">file</a>')
							} else if(data.type === 'img'){
								// Crée Blob et crée lien à utiliser
								var dataView = new Uint8Array(data.msg);
						        var dataBlob = new Blob([dataView]);
						        var url = window.URL.createObjectURL(dataBlob);
						        $scope.$apply(function(){
									$scope.messages.push({sender : dest, text : 'Received image : '});
								})
								$(".msg").last().append('<img height=150 src="' + url + '"/>')
							} else{
								$scope.$apply(function(){
									$scope.messages.push({sender : dest, text : data.msg});
								})
							}
						});
						// Indique que l'on a fermé la discussion
						window.onbeforeunload =function(e){
							conn_full.send({type : 'info', msg : "User disconnected"});
						}


					})			
				})

			}
			// Lorsque l'on est le destinataire
			function peerDuplex(username, dest){
				console.log("Peer duplex");
				// Connexion de conv_usr_dest vers dest
				var conv_usr = "conv_"+username+"_"+dest;
				peer = new Peer(conv_usr, {host: 'localhost', port: 9000, debug : 1});
				console.log("Connected as "+conv_usr);
				console.log("connecting with user "+"conv_"+dest+"_"+username);
				conn = peer.connect("conv_"+dest+"_"+username);

				conn.on('open', function() {
					conn_retriever = conn;
					console.log("Duplex initiated");
					// Gère la réception des messages
					conn.on('data', function(data) {
						console.log('Received', data);
						if(data.type === 'info') {
							alert(data.msg);
						} else if(data.type === 'file'){
							// Crée Blob et crée lien à utiliser
							var dataView = new Uint8Array(data.msg);
						    var dataBlob = new Blob([dataView]);
						    var url = window.URL.createObjectURL(dataBlob);
							$scope.$apply(function(){
								$scope.messages.push({sender : dest, text : 'Received file : '});
							})
							$(".msg").last().append('<a target="_blank" href="' + url + '">file</a>')
							// })
						} else if(data.type === 'img'){
								// Crée Blob et crée lien à utiliser
								var dataView = new Uint8Array(data.msg);
						        var dataBlob = new Blob([dataView]);
						        var url = window.URL.createObjectURL(dataBlob);
						        $scope.$apply(function(){
									$scope.messages.push({sender : dest, text : 'Received image : '});
								})
								$(".msg").last().append('<img height=150 src="' + url + '"/>')
						} else {
							$scope.$apply(function(){
								$scope.messages.push({sender : dest, text : data.msg});
							})
						}
						
					});
					// Indique la déconnexion
					window.onbeforeunload =function(e){
						conn.send({type : 'info', msg : dest+" disconnected"});
					}

				})
			}
			// Envoi de messages avec la touche entrée
			window.onkeyup = function(e) {
				if(e.keyCode == 13) {
					$scope.$apply(function(){
						$scope.sendMessage();
					})
				}
			}
		})

    </script>
</footer>
</html>